<div class="container-fluid p-0">
  <div class="main-outer ">
    <div class="form-bg-box">
      <div class="logo-bg-box">
      </div>
      <form [formGroup]="AddEmployeeForm" (ngSubmit)="OnSubmit();$event.stopPropagation();$event.preventDefault();">
        <div class="login-bg-box">
          <p class="login-text-value">
            {{data?.value =='edit' ? 'Edit Post' : 'Add Post'}}
          </p>
          <div class="form-group padding-except-left">
            <input formControlName="title" class="form-control email-btn form-field-bottom-margin" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Title">
            <mat-error class="mat-error" *ngIf="(AddEmployeeForm.controls['title'].touched || submitted) &&
              AddEmployeeForm.controls['title'].errors && AddEmployeeForm.controls['title'].errors?.['required']">*This
              Field is Required</mat-error>





            <textarea formControlName="content" class="textArea form-control email-btn form-field-bottom-margin" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Content"></textarea>
            <br>
            <mat-error class="mat-error"
              *ngIf="(AddEmployeeForm.controls['content'].touched || submitted) &&
                AddEmployeeForm.controls['content'].errors && AddEmployeeForm.controls['content'].errors?.['required']">*This Field is
              Required</mat-error>






          </div>

          <button class="btnpr" type="submit"> Submit </button>

        </div>
      </form>
    </div>

  </div>
</div>